<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<section layout:fragment="content" style="background-color: #e3f2fd; min-height: 100vh">

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">

                <h3 class="mb-3">
                    로그인
                </h3>

                <div class="input-group mb-3">
                    <span id="usernameAddOn" class="input-group-text">&nbsp;아이디 &nbsp;</span>
                    <input type="text" id="username" class="form-control" autofocus/>
                </div>
    
                <div class="input-group mb-3">
                    <span id="pwAddOn" class="input-group-text">비밀번호</span>
                    <input type="password" id="password" class="form-control"/>
                </div>

                <button class="btn btn-primary" type="button" style="width: 100%" onclick="requestLogin()">
                  로그인
                </button>
    
                <hr class="my-4"/>
    
                <a href="/auth/join">아이디가 없으신가요? 회원가입</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script>

        // 비밀번호 입력창에서 엔터키를 치면 로그인 요청하는 함수
        document.querySelector("#password").addEventListener("keyup", (event) => {
            if (event.keyCode === 13) {
                requestLogin();
            }
        });

        // 로그인 요청하는 함수
        // 로그인 버튼을 누르면 실행됨
        const requestLogin = () => {
            // 서버와 통신하기 전에 입력값 검증
            if (!validateFields()) {
                return;
            }

            // 로그인 요청
            const dto = {
                user : {
                    username : document.getElementById("username").value,
                    password : document.getElementById("password").value
                },
            };

            fetch("/api/v1/auth/login", {
                method : "POST",
                headers : {
                    "Content-Type" : "application/json;charset=utf-8",
                },
                body : JSON.stringify(dto),
            })
                .then((response) => response.json())
                .then((result) => {
                    alert(result.message);
                    if (result.code == 0) {
                        location.replace("/");
                    }
                })
        };

        // 아이디와 비밀번호 입력창이 비어있는지 검사하는 함수
        const validateFields = () => {
            // id속성으로 요소를 가져옴
            const usernameElement = document.getElementById("username");
            const pwElement = document.getElementById("password");

            if (usernameElement.value === "") {
                alert("아이디를 입력해주세요.");
                usernameElement.focus();
                return false;
            }

            if (pwElement.value === "") {
                alert("비밀번호를 입력해주세요.");
                pwElement.focus();
                return false;
            }

            return true;
        };

    </script>

</section>




</html>