<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content" class="container my-3">

        <!--글 작성 버튼-->
        <div style="display: flex; margin-bottom: 10px">
            <a href="/post/save" class="btn btn-outline-primary" style="margin-left: auto;">글 등록하기</a>
        </div>

    <div class="my-board-box row">

        <div class="card col-lg-3 pt-2">
            <img class="card-img-top" style="height: 250px;" src="/images/no_img.png" alt="Card image">
            <hr />
            <div class="card-body">
                <div>작성자 : temp</div>
                <h4 class="card-title my-text-ellipsis">임시제목</h4>
                <a href="post/detail/1" class="btn btn-primary">상세보기</a>
            </div>
        </div>

        <div class="card col-lg-3 pt-2">
            <img class="card-img-top" style="height: 250px;" src="/images/no_img.png" alt="Card image">
            <hr />
            <div class="card-body">
                <div>작성자 : temp</div>
                <h4 class="card-title my-text-ellipsis">임시제목</h4>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>
        <div class="card col-lg-3 pt-2">
            <img class="card-img-top" style="height: 250px;" src="/images/no_img.png" alt="Card image">
            <hr />
            <div class="card-body">
                <div>작성자 : temp</div>
                <h4 class="card-title my-text-ellipsis">임시제목</h4>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>
        <div class="card col-lg-3 pt-2">
            <img class="card-img-top" style="height: 250px;" src="/images/no_img.png" alt="Card image">
            <hr />
            <div class="card-body">
                <div>작성자 : temp</div>
                <h4 class="card-title my-text-ellipsis">임시제목</h4>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>
        <div class="card col-lg-3 pt-2">
            <img class="card-img-top" style="height: 250px;" src="/images/no_img.png" alt="Card image">
            <hr />
            <div class="card-body">
                <div>작성자 : temp</div>
                <h4 class="card-title my-text-ellipsis">임시제목</h4>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>
        <div class="card col-lg-3 pt-2">
            <img class="card-img-top" style="height: 250px;" src="/images/no_img.png" alt="Card image">
            <hr />
            <div class="card-body">
                <div>작성자 : temp</div>
                <h4 class="card-title my-text-ellipsis">임시제목</h4>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>


    </div>

</div>


</html>