<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!-- config.html -->
    <th:block th:replace="/fragments/config :: config"></th:block>
    <title>메인페이지</title>
</head>
<body>

<!-- header.html -->
<header th:replace="/fragments/header :: header"></header>

<!-- The main content of your page -->
<div>
    <h1>Main Page Content</h1>
    <!-- Your main content goes here -->
</div>

<!-- footer.html -->
<footer th:replace="/fragments/footer :: footer"></footer>


</body>
</html>