<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content" class="container my-3">

        <!--글 작성 버튼-->
        <div th:if="${session.loginUserDTO != null}" style="display: flex; margin-bottom: 10px">
            <a href="/post/save" class="btn btn-outline-primary">글 등록하기</a>
        </div>


    <div class="my-board-box row">

        <div class="card col-lg-3 pt-2" th:each="post : ${dto.postList}">
            <img class="card-img-top" style="height: 250px;" th:src="${post.thumbnail}" alt="Card image">
            <hr />
            <div class="card-body">

                <div th:text= "'작성자 : ' + ${post.username}"></div>
                <h4 class="card-title my-text-ellipsis" th:text="${post.title}">

                </h4>

                <div th:text="${post.category}"></div>

                <a th:href="@{'/post/detail/' + ${post.id}}" class="btn btn-primary">상세보기</a>

            </div>
        </div>




    </div>

</div>


</html>