<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- The main content of your page -->
<div layout:fragment="content">


    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card " style="border-radius: 1rem; border: black 1px solid; box-shadow: 1px 1px 1px">

                    <div class=" p-5 text-center" id="my-page">

                        <h3 class="mb-3">
                            마이 페이지
                        </h3>

                        <a href="/mypage/editUserInfo" type="button" class="btn btn-outline-dark" style="width: 430px;margin-bottom: 30px">내 정보 변경</a><br>
                        <a href="/mypage/myPost" type="button" class="btn btn-outline-dark" style="width: 430px;margin-bottom: 30px">내 글 확인</a><br>
                        <a href="/mypage/myApply" type="button" class="btn btn-outline-dark" style="width: 430px;margin-bottom: 30px">신청한 글 확인</a><br>
                        <a href="/mypage/myReceiveApply" type="button" class="btn btn-outline-dark" style="width: 430px">받은 신청 글 확인</a><br>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>