<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card " style="border-radius: 1rem; border: black 1px solid; box-shadow: 1px 1px 1px">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-3">
                            신청한 글 확인
                        </h3>

                        <a href="/mypage/myApply/1" type="button" class="btn btn-outline-dark" style="width: 430px;margin-bottom: 30px">첫번째 글</a><br>
                        <a href="#" type="button" class="btn btn-outline-dark" style="width: 430px;margin-bottom: 30px">첫번째 글</a><br>
                        <a href="#" type="button" class="btn btn-outline-dark" style="width: 430px;margin-bottom: 30px">첫번째 글</a><br>
                        <a href="#" type="button" class="btn btn-outline-dark" style="width: 430px">첫번째 글</a><br>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>