<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="container pb-3" style="max-width: 800px;">

        <div class="form-group mt-3" style="border: 1px solid black; border-radius: 3px">
            <h2 th:text="${dto.title}">  </h2>
        </div>

        <div class="input-group my-2" style="margin-left: auto">
            <span th:text="${dto.category}">  </span>
        </div>

        <div class="form-group">
            <div style="min-height: 300px; border: 1px solid black; border-radius: 3px">
                <span th:utext="${dto.content}">

                </span>
            </div>
        </div>

        <div th:if="${session.loginUserDTO != null}" style="display: flex">
            <a th:href="'/apply/save/' + ${dto.id}" class="btn btn-primary" style="margin-left: auto;">신청하러가기</a>
        </div>

    </div>

</div>



</html>