<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="container pb-3" style="max-width: 800px">
    <h2>재능기부 게시글 작성</h2>
        <div class="form-group mt-3">
            <input type="text" class="form-control" placeholder="Enter title" name="title" id="title">
        </div>

        <div class="input-group my-2" style="width: 170px; margin-left: auto">
            <select class="form-select" aria-label="Default select example" name="category" id="category">
                <option selected>*카테고리 선택</option>
                <option value="프로그램개발">프로그램개발</option>
                <option value="디자인">디자인</option>
                <option value="번역/외국어">번역/외국어</option>
                <option value="음악/영상">음악/영상</option>
            </select>
        </div>

        <div class="form-group">
            <textarea class="form-control summernote" rows="5" id="content" name="content"></textarea>
        </div>

        <div style="display: flex">
            <button onclick="save()" type="button" class="btn btn-primary" style="margin-left: auto">글쓰기완료</button>
        </div>

    </div>

    <script>

        const save = () => {
            // 서버와 통신하기 전에 입력값 검증
            if (!validateFields()) {
                return;
            }

            // 로그인 요청
            const dto = {
                post : {
                    title : document.getElementById("title").value,
                    category : document.getElementById("category").value,
                    content : document.getElementById("content").value,
                },
            };

            fetch("/api/v1/post", {
                method : "POST",
                headers : {
                    "Content-Type" : "application/json;charset=utf-8",
                },
                body : JSON.stringify(dto),
            })
                .then((response) => response.json())
                .then((result) => {
                    alert(result.message);
                    if (result.code == 0) {
                        location.replace("/");
                    }
                })
        };

        const validateFields = () => {
            // id속성으로 요소를 가져옴
            const titleElement = document.getElementById("title");
            const contentElement = document.getElementById("content");
            const categoryElement = document.getElementById("category");

            if (titleElement.value === "") {
                alert("제목을 입력해주세요.");
                titleElement.focus();
                return false;
            }

            if (categoryElement.value === "*카테고리 선택") {
                alert("카테고리를 선택해주세요.");
                categoryElement.focus();
                return false;
            }

            if (contentElement.value === "") {
                alert("내용을 입력해주세요.");
                contentElement.focus();
                return false;
            }

            return true;
        };

    </script>

</div>

</html>